/* Mode clair par défaut */
body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, sans-serif;
  transition: all 0.3s ease; /* animation douce lors du changement */
}

.container {
  text-align: center;
  margin-top: 100px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
  transition: all 0.3s ease;
}

/* Mode sombre */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode button {
  background-color: #ffffff;
  color: #000000;
}

/**/