#countLabel{
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10em;
}
.btnContainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    
}

.buttons:hover{
    background-color: rgb(129, 127, 255);
}