
*{
    padding: 0;
    margin: 0;
}
.container{
    height: 100vh;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 100px;
    font-family: "Note Sans", sans-serif;
    background-image: url(images/image1.jpg);
    background-size: cover;
    background-clip: text;
    color: transparent;
    animation: animate 20s linear infinite;

}

@keyframes animate {
    to{
        background-position-x: -500px;
    }
}
#text{
    width: 300px;
    height: 100px;
    padding: 10px;
    color:  white;
    border-radius: 8px;
    outline: none;
    border: 1px solid aqua;
    resize: none;
    background-color: black;
    box-shadow: 4px 4px black;
}
button{
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #00a2ff;
    color: #ffffff;
    cursor: pointer;
}
#error{
    margin-top: 10px;
    font-size: 30px;
}


